[submodule "log"]
	path = log
	url = https://github.com/SubMob/LogMob
[submodule "util"]
	path = util
	url = https://github.com/SubMob/ScopeMob
[submodule "base"]
	path = base
	url = https://github.com/SubMob/BaseMob
