[submodule "ScopeMob"]
	path = ScopeMob
	url = https://github.com/SubMob/ScopeMob
[submodule "LogMob"]
	path = LogMob
	url = https://github.com/SubMob/LogMob
[submodule "BaseMob"]
	path = BaseMob
	url = https://github.com/SubMob/BaseMob
[submodule "ParserMob"]
	path = ParserMob
	url = https://github.com/SubMob/ParserMob
