[submodule "log"]
	path = log
	url = https://github.com/SubMob/LogMob
[submodule "scope"]
	path = scope
	url = https://github.com/SubMob/ScopeMob
[submodule "base"]
	path = base
	url = https://github.com/SubMob/BaseMob
[submodule "parser"]
	path = parser
	url = https://github.com/SubMob/ParserMob
[submodule "util"]
	path = util
	url = https://github.com/SubMob/ScopeMob
