/build
release.keystore
/src/debug/google-services.json
/src/debug/google-services.json.asc
/src/debug/agconnect-services.json
/src/debug/agconnect-services.json.asc
/src/release/google-services.json
/src/release/google-services.json.asc
/src/release/agconnect-services.json
/src/release/agconnect-services.json.asc