<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>secret</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>secret</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>secret</string>
	<key>API_KEY</key>
	<string>secret</string>
	<key>GCM_SENDER_ID</key>
	<string>secret</string>
	<key>PLIST_VERSION</key>
	<string>secret</string>
	<key>BUNDLE_ID</key>
	<string>com.oztechan.ccc</string>
	<key>PROJECT_ID</key>
	<string>secret</string>
	<key>STORAGE_BUCKET</key>
	<string>secret</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>GOOGLE_APP_ID</key>
	<string>secret</string>
	<key>DATABASE_URL</key>
	<string>secret</string>
	<key>ADMOB_APP_ID</key>
	<string>secret</string>
</dict>
</plist>