Pods/
build
CCC/Resources/GoogleService-Info.plist
CCC/Resources/Release.xcconfig
fastlane/.env
fastlane/README.md
fastlane/report.xml
xcuserdata

# TODO it is a workaround remove when Xcode & SPM bug fixed
/CCC.xcworkspace/xcshareddata/swiftpm/Package.resolved