<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mustafaozhan.github.com.mycurrencies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.CCCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name="mustafaozhan.github.com.mycurrencies.ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mustafaozhan.github.com.mycurrencies.ui.main.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="mustafaozhan.github.com.mycurrencies.ui.slider.SliderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fbacbda6e429dfadcba3d54f47c1588d524b5b24" />

    </application>

</manifest>