name: CCC CI

on:
  push:
    branches:
      - master
  pull_request:

env:
  ANDROID_RELEASE_ADMOB_APP_ID: ${{ secrets.ANDROID_RELEASE_ADMOB_APP_ID }}
  ANDROID_RELEASE_BANNER_AD_UNIT_ID_CALCULATOR: ${{ secrets.ANDROID_RELEASE_BANNER_AD_UNIT_ID_CALCULATOR }}
  ANDROID_RELEASE_BANNER_AD_UNIT_ID_SETTINGS: ${{ secrets.ANDROID_RELEASE_BANNER_AD_UNIT_ID_SETTINGS }}
  ANDROID_RELEASE_BANNER_AD_UNIT_ID_CURRENCIES: ${{ secrets.ANDROID_RELEASE_BANNER_AD_UNIT_ID_CURRENCIES }}
  ANDROID_RELEASE_INTERSTITIAL_AD_ID: ${{ secrets.ANDROID_RELEASE_INTERSTITIAL_AD_ID }}
  ANDROID_RELEASE_REWARDED_AD_UNIT_ID: ${{ secrets.ANDROID_RELEASE_REWARDED_AD_UNIT_ID }}
  ANDROID_DEBUG_ADMOB_APP_ID: ${{ secrets.ANDROID_DEBUG_ADMOB_APP_ID }}
  ANDROID_DEBUG_BANNER_AD_UNIT_ID_CALCULATOR: ${{ secrets.ANDROID_DEBUG_BANNER_AD_UNIT_ID_CALCULATOR }}
  ANDROID_DEBUG_BANNER_AD_UNIT_ID_SETTINGS: ${{ secrets.ANDROID_DEBUG_BANNER_AD_UNIT_ID_SETTINGS }}
  ANDROID_DEBUG_BANNER_AD_UNIT_ID_CURRENCIES: ${{ secrets.ANDROID_DEBUG_BANNER_AD_UNIT_ID_CURRENCIES }}
  ANDROID_DEBUG_INTERSTITIAL_AD_ID: ${{ secrets.ANDROID_DEBUG_INTERSTITIAL_AD_ID }}
  ANDROID_DEBUG_REWARDED_AD_UNIT_ID: ${{ secrets.ANDROID_DEBUG_REWARDED_AD_UNIT_ID }}
  ANDROID_KEY_STORE_PATH: ${{ secrets.ANDROID_KEY_STORE_PATH }}
  ANDROID_STORE_PASSWORD: ${{ secrets.ANDROID_STORE_PASSWORD }}
  ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
  ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
  BASE_URL_BACKEND: ${{ secrets.BASE_URL_BACKEND }}
  BASE_URL_API: ${{ secrets.BASE_URL_API }}
  BASE_URL_DEV: ${{ secrets.BASE_URL_DEV }}

jobs:

  GradleBuild:
    runs-on: macos-latest
    outputs:
      status: ${{ steps.status.outputs.status }}
    steps:

      - name: Clone Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Adding secret files
        run: |
          echo "${{ secrets.ANDROID_GPG_RELEASE_KEYSTORE }}" > release.keystore.asc
          gpg -d --passphrase "${{ secrets.GPG_PASSWORD }}" --batch release.keystore.asc > android/release.keystore
          mkdir android/src/release
          echo "${{ secrets.ANDROID_GPG_FIREBASE_CONFIG }}" > google-services.json.asc
          gpg -d --passphrase "${{ secrets.GPG_PASSWORD }}" --batch google-services.json.asc > android/src/release/google-services.json
          echo "${{ secrets.IOS_GPG_FIREBASE_CONFIG }}" > GoogleService-Info.plist.asc
          gpg -d --passphrase "${{ secrets.GPG_PASSWORD }}" --batch GoogleService-Info.plist.asc > ios/CCC/Resources/GoogleService-Info.plist
          echo "${{ secrets.IOS_GPG_RELEASE_XCCONFIG }}" > Release.xcconfig.asc
          gpg -d --passphrase "${{ secrets.GPG_PASSWORD }}" --batch Release.xcconfig.asc > ios/CCC/Resources/Release.xcconfig

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Gradle Build
        run: ./gradlew build :android:bundleRelease :backend:fatJar --parallel

      - name: Upload App Bundle
        uses: actions/upload-artifact@v2
        with:
          name: bundle
          path: android/build/outputs/bundle/release/android-release.aab

      - name: Upload Jar
        uses: actions/upload-artifact@v2
        with:
          name: jar
          path: backend/build/libs/backend-fat-*.jar

      - name: Set Job Status
        id: status
        run: echo "::set-output name=status::success"

  XCodeBuild:
    runs-on: macos-latest
    outputs:
      status: ${{ steps.status.outputs.status }}
    steps:

      - name: Clone Repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Adding secret files
        run: |
          echo "${{ secrets.ANDROID_GPG_RELEASE_KEYSTORE }}" > release.keystore.asc
          gpg -d --passphrase "${{ secrets.GPG_PASSWORD }}" --batch release.keystore.asc > android/release.keystore
          mkdir android/src/release
          echo "${{ secrets.ANDROID_GPG_FIREBASE_CONFIG }}" > google-services.json.asc
          gpg -d --passphrase "${{ secrets.GPG_PASSWORD }}" --batch google-services.json.asc > android/src/release/google-services.json
          echo "${{ secrets.IOS_GPG_FIREBASE_CONFIG }}" > GoogleService-Info.plist.asc
          gpg -d --passphrase "${{ secrets.GPG_PASSWORD }}" --batch GoogleService-Info.plist.asc > ios/CCC/Resources/GoogleService-Info.plist
          echo "${{ secrets.IOS_GPG_RELEASE_XCCONFIG }}" > Release.xcconfig.asc
          gpg -d --passphrase "${{ secrets.GPG_PASSWORD }}" --batch Release.xcconfig.asc > ios/CCC/Resources/Release.xcconfig

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest

      - name: Install Cocoapods
        run: |
          ./gradlew client:podGenIOS
          cd ios/CCC
          pod install

      - name: Xcode build
        run: cd ios &&
          xcrun xcodebuild
          -workspace CCC.xcworkspace
          -scheme CCC
          -sdk iphoneos
          -derivedDataPath
          build
          CODE_SIGN_IDENTITY=""
          CODE_SIGNING_REQUIRED="NO"
          CODE_SIGN_ENTITLEMENTS=""
          CODE_SIGNING_ALLOWED="NO"

      - name: Set Job Status
        id: status
        run: echo "::set-output name=status::success"

  UploadGooglePlay:
    runs-on: ubuntu-latest
    needs: [ GradleBuild, XCodeBuild ]
    outputs:
      status: ${{ steps.status.outputs.status }}
    steps:

      - name: Download App Bundle
        uses: actions/download-artifact@v2
        with:
          name: bundle

      - name: Adding secret files
        run: |
          echo "${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT_JSON }}" > service_account.json.asc
          gpg -d --passphrase "${{ secrets.GPG_PASSWORD }}" --batch service_account.json.asc > service_account.json

      - name: Upload Artifact to Google Play Console
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJson: service_account.json
          packageName: mustafaozhan.github.com.mycurrencies
          releaseFiles: android-release.aab
          track: internal

      - name: Set Job Status
        id: status
        run: echo "::set-output name=status::success"

  ServerDeployment:
    runs-on: ubuntu-latest
    needs: [ GradleBuild, XCodeBuild ]
    outputs:
      status: ${{ steps.status.outputs.status }}
    steps:

      - name: Download Jar
        uses: actions/download-artifact@v2
        with:
          name: jar
          path: artifact

      - name: Prepare SSH
        run: |
          cd ~ && mkdir .ssh &&
          touch ~/.ssh/known_hosts &&
          ssh-keyscan -H "$REMOTE_HOST" >>~/.ssh/known_hosts
        env:
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}

      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          SOURCE: "artifact/"

      - name: Set Job Status
        id: status
        run: echo "::set-output name=status::success"

  Notify:
    runs-on: ubuntu-latest
    needs: [ GradleBuild, XCodeBuild, UploadGooglePlay, ServerDeployment ]
    if: always()
    steps:

      - name: Notify slack success
        if: needs.GradleBuild.outputs.status == 'success' &&
          needs.XCodeBuild.outputs.status == 'success' &&
          needs.UploadGooglePlay.outputs.status == 'success' &&
          needs.ServerDeployment.outputs.status == 'success'
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: ccc
          status: SUCCESS
          color: good

      - name: Notify slack fail
        if: false == (needs.GradleBuild.outputs.status == 'success') ||
          false == (needs.XCodeBuild.outputs.status == 'success') ||
          false == (needs.UploadGooglePlay.outputs.status == 'success') ||
          false == (needs.ServerDeployment.outputs.status == 'success')
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v1
        with:
          channel: ccc
          status: FAILED
          color: danger