name: Publish Release

on:
  push:
    tags:
      - "v*"

jobs:

  PublishRelease:
    uses: Oztechan/Global/.github/workflows/reusable-publish.yml@d479ff996a9c42b89bf102056a850f2f4b0056f8
    with:
      slack_channel: "ccc-github"
    secrets: inherit
