name: Publish Release

on:
  push:
    tags:
      - "v*"

jobs:

  PublishRelease:
    uses: Oztechan/Global/.github/workflows/reusable-publish.yml@6d550be1a6bb4ddab3495be9e3b1ec72ee764993
    with:
      slack_channel: "ccc-github"
    secrets: inherit
