name: Publish Release

on:
  push:
    tags:
      - "v*"

jobs:

  PublishRelease:
    uses: Oztechan/Global/.github/workflows/reusable-publish.yml@3de20b67f3d22c8ee1a6ff8b8f73f69d23901e98
    with:
      slack_channel: "ccc-github"
    secrets: inherit
