name: Publish Release

on:
  push:
    tags:
      - "v*"

jobs:

  PublishRelease:
    uses: Oztechan/Global/.github/workflows/reusable-publish.yml@b4f70067782bc72102bf785bca1f519aa92e11cd
    with:
      slack_channel: "ccc-github"
    secrets:
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
