name: Publish Release

on:
  push:
    tags:
      - "v*"

jobs:

  PublishRelease:
    uses: Oztechan/Global/.github/workflows/reusable-publish.yml@42ef26dfdf6f609ecf0da89a6b12aaa5f491174b
    with:
      slack_channel: "ccc-github"
    secrets:
      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
