<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2020 Mustafa Ozhan. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oztechan.ccc.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>